<h1>Simple Log-in Form</h1>

<form action = "/login" method = "POST">
    <input name = "username" placeholder="Username" type="text">
    <input name = "password" placeholder="Password (6+ char)" type="password">
    <button>Submit</button>
</form>

<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>